@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
div,p,span,table,th,td,ul,li,ol,dl,dt,dd,form,fieldset,input,textarea,select{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0; font-size:16px; font-weight:normal;}
*{ 
	margin:0;
	padding:0;
	list-style:none;
	font-family:'S-Core', sans-serif;
}
@font-face {
	font-family: 'S-Core';
	font-weight:100;
	src: url('../../font/S-core/S-CoreDream-1Thin.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:200;
	src: url('../../font/S-core/S-CoreDream-2ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'S-Core';
  font-weight:300;
  src: url('../../font/S-core/S-CoreDream-3Light.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:400;
	src: url('../../font/S-core/S-CoreDream-4Regular.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:500;
	src: url('../../font/S-core/S-CoreDream-5Medium.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:600;
	src: url('../../font/S-core/S-CoreDream-6Bold.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:700;
	src: url('../../font/S-core/S-CoreDream-7ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:800;
	src: url('../../font/S-core/S-CoreDream-8Heavy.woff') format('woff');
}
@font-face {
	font-family: 'S-Core';
	font-weight:900;
	src: url('../../font/S-core/S-CoreDream-9Black.woff') format('woff');
}
a{ text-decoration:none !important; display:block;}
strong{ display:block;}
img{ border:0;}

