/*******************************************/
/* company.php start */
.a_company_box{display: flex; align-items: center; justify-content: center; padding: 100px 0; flex-wrap: wrap;}
.a_company_box:nth-child(2n){background:#fff;}
.a_company_box .a_cb_l, .a_company_box .a_cb_r{width: 50%; padding:0 15px; max-width: 750px;}
.a_company_box .a_cb_txt strong{font-size: 45px; line-height: 1.2;}
.a_company_box .a_cb_txt strong span{color:#fbbe04;}
.a_company_box .a_cb_txt p{font-size: 22px; margin:20px 0 50px 0; color:#777;}
.a_company_box .a_cb_txt button i{font-size: 20px; transform: translateY(5px);}
.a_company_box .a_cb_txt button.a_btn_yellow{cursor:inherit;}
.a_company_box .a_cb_img img{max-width: 100%;}
.a_company_box .a_cb_r.a_cb_txt, .a_company_box .a_cb_r.a_cb_img{text-align: right;}

@media(max-width: 1400px){
	.a_company_box:nth-child(2n){flex-direction: column-reverse;}
	.a_company_box .a_cb_l, .a_company_box .a_cb_r{width: 100%; padding:0 15px; text-align: center;}
	.a_company_box .a_cb_r.a_cb_txt, .a_company_box .a_cb_r.a_cb_img{text-align: center;}
	.a_company_box .a_cb_txt strong{font-size: 35px;}
	.a_company_box .a_cb_txt p{font-size: 18px; margin:15px 0 20px 0;}
	.a_company_box .a_cb_txt button{margin-bottom: 30px;}
}

@media(max-width: 770px){
	.a_company_box{padding: 50px 0}
	.a_company_box .a_cb_txt strong{font-size: 25px;}
	.a_company_box .a_cb_txt p{font-size: 15px; margin:10px 0 15px 0;}
	.a_company_box .a_cb_txt button{margin-bottom: 5px;}
	.a_company_box .a_cb_txt button:last-child{margin-bottom: 20px; width: calc(100% - 55px)}
}
/* company.php end */
/*******************************************/


/*******************************************/
/* map.php start */
.a_map iframe{width: 100%;}
.a_map_info{display: flex; flex-wrap: wrap; border-top: 2px solid #4f206f; border-bottom:1px solid #e5e5e5; margin-top: 20px; background:#fff;}
.a_map_info > li{flex: 1 1 30%; padding: 15px;}
.a_map_info > li > p{font-size: 16px; color:#4f206f;}
.a_map_info > li > p span{margin-right: 10px; vertical-align: top;}
.a_map_info > li ul{margin:5px 0 0 20px;}

@media(max-width: 1400px){
	.a_map_info{border-bottom: none;}
	.a_map_info > li{flex: 1 1 100%; border-bottom: 1px solid #e5e5e5;}
}
/* map.php end */
/*******************************************/







































