@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
div,p,span,table,th,td,ul,li,ol,dl,dt,dd,form,fieldset,input,textarea,select{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0; font-size:16px; font-weight:normal;}
*{ 
	margin:0;
	padding:0;
	list-style:none;
	font-family:"Gmarket Sans", "Noto Sans KR", 맑은 고딕, sans-serif, 微软雅黑;
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal; 	font-weight:700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'), 
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff');
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal; 	font-weight:500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'), 
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff');
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal; 	font-weight:300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'), 
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff');
}

a{ text-decoration:none !important; display:block;}
strong{ display:block;}
img{ border:0;}


/* layout:start */

.br_pc{ display:block;}
.br_pad{ display:none;}
.br_m{ display:none;}
@media(max-width:1025px){
.br_pc{ display:none;}
.br_pad{ display:block;}
.br_m{ display:none;}
}
@media(max-width:767px){
.br_pc{ display:none;}
.br_pad{ display:none;}
.br_m{ display:block;}
}

.lcg_pa{ position:absolute; z-index:1; top:0; right:0; bottom:0; left:0;}
.table{ display:table; width:100%; height:100%;}
.table_cell{ display:table-cell; text-align:center; vertical-align:middle;}
.lcg_t{ transition:margin 0.5s, padding 0.5s, width 0.5s, height 0.5s, border 0.5s, background 0.5s, color 0.5s;}


.outline_none{ outline:none !important;}


.pa{ position:absolute;}
.pr{ position:relative;}
.pf{ position:fixed;}

.t0{ top:0;}
.b0{ bottom:0;}
.l0{ left:0;}
.r0{ right:0;}

.fl{ float:left;}
.fr{ float:right !important;}
.cb{ clear:both;}

.oh{ overflow:hidden;}
.db{ display:block !important;}
.dn{ display:none;}

.cp{ cursor:pointer;}


.w100_{ width:100% !important;}

.h100_{ height:100% !important;}

.w110{ width:110px !important;}

.h30{ height:30px !important;}
.h60{ height:60px !important;}





/* layout:end */


/* margin:start */


.mt5_{ margin-top:5% !important;}

.mt_200{ margin-top:-200px !important;}
.m0a{ margin:0 auto;}

.mt0{ margin-top:0 !important;}
.mt1{ margin-top:1px !important;}
.mt2{ margin-top:2px !important;}
.mt3{ margin-top:3px !important;}
.mt4{ margin-top:4px !important;}
.mt5{ margin-top:5px !important;}
.mt6{ margin-top:6px !important;}
.mt7{ margin-top:7px !important;}
.mt8{ margin-top:8px !important;}
.mt9{ margin-top:9px !important;}
.mt10{ margin-top:10px !important;}
.mt11{ margin-top:11px !important;}
.mt12{ margin-top:12px !important;}
.mt13{ margin-top:13px !important;}
.mt14{ margin-top:14px !important;}
.mt15{ margin-top:15px !important;}
.mt16{ margin-top:16px !important;}
.mt17{ margin-top:17px !important;}
.mt18{ margin-top:18px !important;}
.mt19{ margin-top:19px !important;}
.mt20{ margin-top:20px !important;}
.mt21{ margin-top:21px !important;}
.mt22{ margin-top:22px !important;}
.mt23{ margin-top:23px !important;}
.mt24{ margin-top:24px !important;}
.mt25{ margin-top:25px !important;}
.mt26{ margin-top:26px !important;}
.mt27{ margin-top:27px !important;}
.mt28{ margin-top:28px !important;}
.mt29{ margin-top:29px !important;}
.mt30{ margin-top:30px !important;}
.mt31{ margin-top:31px !important;}
.mt32{ margin-top:32px !important;}
.mt33{ margin-top:33px !important;}
.mt34{ margin-top:34px !important;}
.mt35{ margin-top:35px !important;}
.mt36{ margin-top:36px !important;}
.mt37{ margin-top:37px !important;}
.mt38{ margin-top:38px !important;}
.mt39{ margin-top:39px !important;}
.mt40{ margin-top:40px !important;}
.mt41{ margin-top:41px !important;}
.mt42{ margin-top:42px !important;}
.mt43{ margin-top:43px !important;}
.mt44{ margin-top:44px !important;}
.mt45{ margin-top:45px !important;}
.mt46{ margin-top:46px !important;}
.mt47{ margin-top:47px !important;}
.mt48{ margin-top:48px !important;}
.mt49{ margin-top:49px !important;}
.mt50{ margin-top:50px !important;}
.mt51{ margin-top:51px !important;}
.mt52{ margin-top:52px !important;}
.mt53{ margin-top:53px !important;}
.mt54{ margin-top:54px !important;}
.mt55{ margin-top:55px !important;}
.mt56{ margin-top:56px !important;}
.mt57{ margin-top:57px !important;}
.mt58{ margin-top:58px !important;}
.mt59{ margin-top:59px !important;}
.mt60{ margin-top:60px !important;}
.mt61{ margin-top:61px !important;}
.mt62{ margin-top:62px !important;}
.mt63{ margin-top:63px !important;}
.mt64{ margin-top:64px !important;}
.mt65{ margin-top:65px !important;}
.mt66{ margin-top:66px !important;}
.mt67{ margin-top:67px !important;}
.mt68{ margin-top:68px !important;}
.mt69{ margin-top:69px !important;}
.mt70{ margin-top:70px !important;}
.mt71{ margin-top:71px !important;}
.mt72{ margin-top:72px !important;}
.mt73{ margin-top:73px !important;}
.mt74{ margin-top:74px !important;}
.mt75{ margin-top:75px !important;}
.mt76{ margin-top:76px !important;}
.mt77{ margin-top:77px !important;}
.mt78{ margin-top:78px !important;}
.mt79{ margin-top:79px !important;}
.mt80{ margin-top:80px !important;}
.mt81{ margin-top:81px !important;}
.mt82{ margin-top:82px !important;}
.mt83{ margin-top:83px !important;}
.mt84{ margin-top:84px !important;}
.mt85{ margin-top:85px !important;}
.mt86{ margin-top:86px !important;}
.mt87{ margin-top:87px !important;}
.mt88{ margin-top:88px !important;}
.mt89{ margin-top:89px !important;}
.mt90{ margin-top:90px !important;}
.mt91{ margin-top:91px !important;}
.mt92{ margin-top:92px !important;}
.mt93{ margin-top:93px !important;}
.mt94{ margin-top:94px !important;}
.mt95{ margin-top:95px !important;}
.mt96{ margin-top:96px !important;}
.mt97{ margin-top:97px !important;}
.mt98{ margin-top:98px !important;}
.mt99{ margin-top:99px !important;}
.mt100{ margin-top:100px !important;}
.mt110{ margin-top:110px !important;}
.mt120{ margin-top:120px !important;}
.mt130{ margin-top:130px !important;}
.mt135{ margin-top:135px !important;}
.mt140{ margin-top:140px !important;}
.mt150{ margin-top:150px !important;}
.mt170{ margin-top:170px !important;}
.mt180{ margin-top:180px !important;}
.mt185{ margin-top:185px !important;}
.mt190{ margin-top:190px !important;}
.mt200{ margin-top:200px !important;}
.mt205{ margin-top:205px !important;}
.mt210{ margin-top:210px !important;}
.mt215{ margin-top:215px !important;}
.mt220{ margin-top:220px !important;}
.mt230{ margin-top:230px !important;}
.mt235{ margin-top:235px !important;}
.mt240{ margin-top:240px !important;}
.mt245{ margin-top:245px !important;}
.mt250{ margin-top:250px !important;}
.mt260{ margin-top:260px !important;}
.mt270{ margin-top:270px !important;}
.mt280{ margin-top:280px !important;}
.mt290{ margin-top:290px !important;}
.mt300{ margin-top:300px !important;}
.mt310{ margin-top:310px !important;}
.mt360{ margin-top:360px !important;}
.mt370{ margin-top:370px !important;}
.mt380{ margin-top:380px !important;}
.mt390{ margin-top:390px !important;}
.mt410{ margin-top:410px !important;}

.ml0{ margin-left:0 !important;}
.ml1{ margin-left:1px !important;}
.ml2{ margin-left:2px !important;}
.ml3{ margin-left:3px !important;}
.ml4{ margin-left:4px !important;}
.ml5{ margin-left:5px !important;}
.ml6{ margin-left:6px !important;}
.ml7{ margin-left:7px !important;}
.ml8{ margin-left:8px !important;}
.ml9{ margin-left:9px !important;}
.ml10{ margin-left:10px !important;}
.ml11{ margin-left:11px !important;}
.ml12{ margin-left:12px !important;}
.ml13{ margin-left:13px !important;}
.ml14{ margin-left:14px !important;}
.ml15{ margin-left:15px !important;}
.ml16{ margin-left:16px !important;}
.ml17{ margin-left:17px !important;}
.ml18{ margin-left:18px !important;}
.ml19{ margin-left:19px !important;}
.ml20{ margin-left:20px !important;}
.ml21{ margin-left:21px !important;}
.ml22{ margin-left:22px !important;}
.ml23{ margin-left:23px !important;}
.ml24{ margin-left:24px !important;}
.ml25{ margin-left:25px !important;}
.ml30{ margin-left:30px !important;}
.ml35{ margin-left:35px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important;}
.ml55{ margin-left:55px !important;}
.ml56{ margin-left:56px !important;}
.ml57{ margin-left:57px !important;}
.ml60{ margin-left:60px !important;}
.ml64{ margin-left:64px !important;}
.ml65{ margin-left:65px !important;}
.ml70{ margin-left:70px !important;}
.ml80{ margin-left:80px !important;}
.ml90{ margin-left:90px !important;}
.ml100{ margin-left:100px !important;}
.ml120{ margin-left:120px !important;}
.ml130{ margin-left:130px !important;}
.ml140{ margin-left:140px !important;}
.ml150{ margin-left:150px !important;}
.ml160{ margin-left:160px !important;}
.ml170{ margin-left:170px !important;}
.ml175{ margin-left:175px !important;}
.ml180{ margin-left:180px !important;}
.ml200{ margin-left:200px !important;}
.ml250{ margin-left:250px !important;}
.ml310{ margin-left:310px !important;}
.ml330{ margin-left:330px !important;}
.ml340{ margin-left:340px !important;}
.ml345{ margin-left:345px !important;}
.ml430{ margin-left:430px !important;}
.ml440{ margin-left:440px !important;}
.ml460{ margin-left:460px !important;}
.ml490{ margin-left:490px !important;}
.ml500{ margin-left:500px !important;}
.ml505{ margin-left:505px !important;}
.ml590{ margin-left:590px !important;}
.ml630{ margin-left:630px !important;}
.ml650{ margin-left:650px !important;}
.ml680{ margin-left:680px !important;}
.ml700{ margin-left:700px !important;}

.mr0{ margin-right:0 !important;}
.mr5{ margin-right:5px !important;}
.mr10{ margin-right:10px !important;}
.mr15{ margin-right:15px !important;}
.mr20{ margin-right:20px !important;}
.mr25{ margin-right:25px !important;}
.mr30{ margin-right:30px !important;}
.mr35{ margin-right:35px !important;}
.mr40{ margin-right:40px !important;}
.mr50{ margin-right:50px !important;}

.mb0{ margin-bottom:0 !important;}
.mb9{ margin-bottom:9px !important;}
.mb10{ margin-bottom:10px !important;}
.mb12{ margin-bottom:12px !important;}
.mb15{ margin-bottom:15px !important;}
.mb17{ margin-bottom:17px !important;}
.mb19{ margin-bottom:19px !important;}
.mb20{ margin-bottom:20px !important;}
.mb22{ margin-bottom:22px !important;}
.mb25{ margin-bottom:25px !important;}
.mb30{ margin-bottom:30px !important;}
.mb35{ margin-bottom:35px !important;}
.mb40{ margin-bottom:40px !important;}
.mb50{ margin-bottom:50px !important;}
.mb60{ margin-bottom:60px !important;}
.mb70{ margin-bottom:70px !important;}
.mb72{ margin-bottom:72px !important;}
.mb77{ margin-bottom:77px !important;}
.mb80{ margin-bottom:80px !important;}
.mb90{ margin-bottom:90px !important;}
.mb100{ margin-bottom:100px !important;}
.mb110{ margin-bottom:110px !important;}
.mb120{ margin-bottom:120px !important;}
.mb130{ margin-bottom:130px !important;}
.mb140{ margin-bottom:140px !important;}
.mb150{ margin-bottom:150px !important;}


.ml_120{ margin-left:-120px !important;}

/* margin:end */


/* padding:start */

.p0{ padding:0 !important;}

.p5{ padding:5px !important;}
.p10{ padding:10px !important;}
.p20{ padding:20px !important;}
.p30{ padding:30px !important;}

.pt0{ padding-top:0 !important;}
.pt1{ padding-top:1px !important;}
.pt2{ padding-top:2px !important;}
.pt3{ padding-top:3px !important;}
.pt4{ padding-top:4px !important;}
.pt5{ padding-top:5px !important;}
.pt6{ padding-top:6px !important;}
.pt7{ padding-top:7px !important;}
.pt8{ padding-top:8px !important;}
.pt9{ padding-top:9px !important;}
.pt10{ padding-top:10px !important;}
.pt13{ padding-top:13px !important;}
.pt15{ padding-top:15px !important;}
.pt18{ padding-top:18px !important;}
.pt20{ padding-top:20px !important;}
.pt22{ padding-top:22px !important;}
.pt24{ padding-top:24px !important;}
.pt25{ padding-top:25px !important;}
.pt26{ padding-top:26px !important;}
.pt30{ padding-top:30px !important;}
.pt31{ padding-top:31px !important;}
.pt34{ padding-top:34px !important;}
.pt35{ padding-top:35px !important;}
.pt38{ padding-top:38px !important;}
.pt40{ padding-top:40px !important;}
.pt42{ padding-top:42px !important;}
.pt45{ padding-top:45px !important;}
.pt50{ padding-top:50px !important;}
.pt60{ padding-top:60px !important;}
.pt67{ padding-top:67px !important;}
.pt70{ padding-top:70px !important;}
.pt100{ padding-top:100px !important;}
.pt117{ padding-top:117px !important;}
.pt130{ padding-top:143px !important;}

.pl0{ padding-left:0 !important;}
.pl1{ padding-left:1px !important;}
.pl2{ padding-left:2px !important;}
.pl3{ padding-left:3px !important;}
.pl5{ padding-left:5px !important;}
.pl6{ padding-left:6px !important;}
.pl7{ padding-left:7px !important;}
.pl8{ padding-left:8px !important;}
.pl10{ padding-left:10px !important;}
.pl12{ padding-left:12px !important;}
.pl14{ padding-left:14px !important;}
.pl13{ padding-left:13px !important;}
.pl15{ padding-left:15px !important;}
.pl17{ padding-left:17px !important;}
.pl19{ padding-left:19px !important;}
.pl20{ padding-left:20px !important;}
.pl22{ padding-left:22px !important;}
.pl25{ padding-left:25px !important;}
.pl29{ padding-left:29px !important;}
.pl30{ padding-left:30px !important;}
.pl35{ padding-left:35px !important;}
.pl38{ padding-left:38px !important;}
.pl40{ padding-left:40px !important;}
.pl45{ padding-left:45px !important;}
.pl50{ padding-left:50px !important;}
.pl70{ padding-left:70px !important;}
.pl80{ padding-left:80px !important;}

.pr0{ padding-right:0 !important;}
.pr5{ padding-right:5px !important;}
.pr10{ padding-right:10px !important;}
.pr15{ padding-right:15px !important;}
.pr20{ padding-right:20px !important;}
.pr22{ padding-right:22px !important;}
.pr25{ padding-right:25px !important;}
.pr30{ padding-right:30px !important;}
.pr50{ padding-right:50px !important;}
.pr80{ padding-right:80px !important;}
.pr100{ padding-right:100px !important;}

.pb0{ padding-bottom:0 !important;}
.pb2{ padding-bottom:2px !important;}
.pb3{ padding-bottom:3px !important;}
.pb5{ padding-bottom:5px !important;}
.pb10{ padding-bottom:10px !important;}
.pb12{ padding-bottom:12px !important;}
.pb14{ padding-bottom:14px !important;}
.pb15{ padding-bottom:15px !important;}
.pb18{ padding-bottom:18px !important;}
.pb20{ padding-bottom:20px !important;}
.pb25{ padding-bottom:25px !important;}
.pb30{ padding-bottom:30px !important;}
.pb35{ padding-bottom:35px !important;}
.pb40{ padding-bottom:50px !important;}
.pb50{ padding-bottom:50px !important;}
.pb100{ padding-bottom:100px !important;}

.pd30{ padding:30px !important;}
.pd20{ padding:20px !important;}

.zi1{ z-index:1;}
.zi2{ z-index:2;}
.zi3{ z-index:3;}
.zi4{ z-index:4;}
.zi5{ z-index:5;}
.zi6{ z-index:6;}
.zi7{ z-index:7;}
.zi8{ z-index:8;}
.zi9{ z-index:9;}
.zi10{ z-index:10;}
.zi60{ z-index:60;}

/* padding:start */


/* font:start */

.c000{ color:#000;}
.c111{ color:#111;}
.c222{ color:#222;}
.c333{ color:#333 !important;}
.c444{ color:#444;}
.c555{ color:#555;}
.c666{ color:#666 !important;}
.c777{ color:#777;}
.c888{ color:#888;}
.c999{ color:#999;}
.cccc{ color:#ccc;}
.cddd{ color:#ddd;}
.ceee{ color:#eee;}
.cfff{ color:#fff !important;}
.cls{ color:#00a0e9;}
.clvs{ color:#2bb0ac;}
.cjs{ color:#f4a951;}
.chs{ color:#ff0000;}
.czs{ color:#342929;}
.cfs{ color:#d89e9e;}

.f10em{ font-size:1em;}
.f11em{ font-size:1.1em;}
.f12em{ font-size:1.2em;}
.f13em{ font-size:1.3em;}
.f14em{ font-size:1.4em;}
.f15em{ font-size:1.5em;}
.f16em{ font-size:1.6em;}
.f17em{ font-size:1.7em;}
.f18em{ font-size:1.8em;}
.f19em{ font-size:1.9em;}
.f20em{ font-size:2em;}

.f10{ font-size:10px;}
.f11{ font-size:11px;}
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f15{ font-size:15px;}
.f16{ font-size:16px;}
.f17{ font-size:17px;}
.f18{ font-size:18px;}
.f19{ font-size:19px;}
.f20{ font-size:20px;}
.f21{ font-size:21px;}
.f22{ font-size:22px;}
.f23{ font-size:23px;}
.f24{ font-size:24px;}
.f25{ font-size:25px;}
.f26{ font-size:26px;}
.f27{ font-size:27px;}
.f28{ font-size:28px;}
.f29{ font-size:29px;}
.f30{ font-size:30px;}
.f31{ font-size:31px;}
.f32{ font-size:32px;}
.f33{ font-size:33px;}
.f34{ font-size:34px;}
.f35{ font-size:35px;}
.f36{ font-size:36px;}
.f37{ font-size:37px;}
.f38{ font-size:38px;}
.f39{ font-size:39px;}
.f40{ font-size:40px;}
.f74{ font-size:74px;}
.fb{ font-weight:bold;}

.lh10{ line-height:10px;}
.lh11{ line-height:11px;}
.lh12{ line-height:12px;}
.lh13{ line-height:13px;}
.lh14{ line-height:14px;}
.lh15{ line-height:15px;}
.lh16{ line-height:16px;}
.lh17{ line-height:17px;}
.lh18{ line-height:18px;}
.lh19{ line-height:19px;}
.lh20{ line-height:20px;}
.lh21{ line-height:21px;}
.lh22{ line-height:22px;}
.lh23{ line-height:23px;}
.lh24{ line-height:24px;}
.lh25{ line-height:25px;}
.lh26{ line-height:26px;}
.lh27{ line-height:27px;}
.lh28{ line-height:28px;}
.lh29{ line-height:29px;}
.lh30{ line-height:30px;}
.lh31{ line-height:31px;}
.lh32{ line-height:32px;}
.lh33{ line-height:33px;}
.lh34{ line-height:34px;}
.lh35{ line-height:35px;}
.lh36{ line-height:36px;}
.lh37{ line-height:37px;}
.lh38{ line-height:38px;}
.lh39{ line-height:39px;}
.lh40{ line-height:40px;}
.lh41{ line-height:41px;}
.lh42{ line-height:42px;}
.lh43{ line-height:43px;}
.lh44{ line-height:44px;}
.lh45{ line-height:45px;}
.lh46{ line-height:46px;}
.lh47{ line-height:47px;}
.lh48{ line-height:48px;}
.lh49{ line-height:49px;}
.lh50{ line-height:50px;}
.lh51{ line-height:51px;}
.lh52{ line-height:52px;}
.lh53{ line-height:53px;}
.lh54{ line-height:54px;}
.lh55{ line-height:55px;}
.lh56{ line-height:56px;}
.lh57{ line-height:57px;}
.lh58{ line-height:58px;}
.lh59{ line-height:59px;}
.lh60{ line-height:60px;}
.lh61{ line-height:61px;}
.lh62{ line-height:62px;}
.lh63{ line-height:63px;}
.lh64{ line-height:64px;}
.lh65{ line-height:65px;}
.lh66{ line-height:66px;}
.lh67{ line-height:67px;}
.lh68{ line-height:68px;}
.lh69{ line-height:69px;}
.lh70{ line-height:70px;}
.lh71{ line-height:71px;}
.lh72{ line-height:72px;}
.lh73{ line-height:73px;}
.lh74{ line-height:74px;}
.lh75{ line-height:75px;}
.lh76{ line-height:76px;}
.lh77{ line-height:77px;}
.lh78{ line-height:78px;}
.lh79{ line-height:79px;}
.lh80{ line-height:80px;}
.lh81{ line-height:81px;}
.lh82{ line-height:82px;}
.lh83{ line-height:83px;}
.lh84{ line-height:84px;}
.lh85{ line-height:85px;}
.lh86{ line-height:86px;}
.lh87{ line-height:87px;}
.lh88{ line-height:88px;}
.lh89{ line-height:89px;}
.lh90{ line-height:90px;}
.lh91{ line-height:91px;}
.lh92{ line-height:92px;}
.lh93{ line-height:93px;}
.lh94{ line-height:94px;}
.lh95{ line-height:95px;}
.lh96{ line-height:96px;}
.lh97{ line-height:97px;}
.lh98{ line-height:98px;}
.lh99{ line-height:99px;}
.lh100{ line-height:100px;}
.lh130{ line-height:130px;}
.lh150{ line-height:150px;}
.lh160{ line-height:160px;}
.lh170{ line-height:170px;}
.lh180{ line-height:180px;}

.tddd{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.tal{ text-align:left !important;}
.tar{ text-align:right !important;}
.tac{ text-align:center !important;}
.taj{ text-align:justify !important;}
.tdn{ text-decoration:none !important;}
.tdu{ text-decoration:underline;}

.ls0{ letter-spacing:0px !important;}
.ls_1{ letter-spacing:-1px;}
.ls_2{ letter-spacing:-2px;}
.ls_3{ letter-spacing:-3px;}
.ls_4{ letter-spacing:-4px;}
.ls_5{ letter-spacing:-5px;}

.ls1{ letter-spacing:1px;}
.ls2{ letter-spacing:2px;}

.fi{ font-style:italic;}
.ttu{ text-transform:uppercase;}

/* font:end */


/* line:start */

.bn{ background:none !important;}
.bf5{ background:#f5f5f5;}
.beb{ background:#ebebeb;}
.bddd{ background:#DDD;}
.bccc{ background:#CCC;}

.b0{ border:0;}

.bt1{ border-top:1px solid #CCC;}

.br1{ border-right:1px solid #d2d2d2;}

.bb1{ border-bottom:1px solid #CCC;}
.bb2{ border-bottom:2px solid #0361ab;}

.sub_line{ height:1px; margin:50px 0; background:#d2d2d2;}
.sub_line_mtm{ width:100%; margin:50px 0; border-bottom:1px dashed #CCC;}

/* line:end */


/* shadow:start */

.shadow-px {border-radius:90px; box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2); }
.shadow_content {border-radius:0px; box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2); }
.shadow_left {border-radius:0px; box-shadow: -2px 2px 7px 0px rgba(0,0,0,0.2); }
.shadow_right {border-radius:0px; box-shadow: 2px -2px 7px 0px rgba(0,0,0,0.2); }
.shadow-icon {height:10px; background:url('/image/main/header/shadow.png'); position:relative; z-index:-1; }

/* shadow:end */