@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

html{ overflow-y:scroll; width:100%; height:100%;}
body{ -webkit-text-size-adjust:none;}

#fp-nav ul li a span{border:0 !important; background-color:#f6c503 !important;}

.cover{position:relative;}
.cover h2{font-size:50px; position: absolute; left:50%; top:20%; transform: translate(-50%,-50%); color:#fff; font-family: 'Notable', sans-serif; margin-top:-10%; opacity: 0; transition: all .5s;}
.cover h2.active{margin-top:0; opacity:1;  transition: all .5s;}
